<%= simple_form_for(@place, html: { class: 'form-horizontal' }) do |f| %>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas" class="field">
    
  </div>
  <%= f.input :name%>
  <%= f.association :amenities, as: :check_boxes %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.input :address, as: :text%>

  <%= f.button :submit, class: "btn btn-lg btn-primary"%>
<% end %>
