<div class="col-lg-12">
  <h1 style="display: inline"><%= @place.name %></h1>

  <%= render 'form' %>

  <%= link_to 'Show', @place %> |
  <%= link_to 'Back', places_path %>

  <script type="text/javascript">
    window.Map.initializeMap({lat: <%=@place.latitude%>, lng: <%=@place.longitude%> });
  </script> 
</div>
