<div class="col-md-12">
  <div class="container">
    <% @places.each do |place| %>
      <div class="row">
        <div class="col-md-6">
          <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= place.latitude %>,<%= place.longitude %>&zoom=15&size=800x150&markers=color:green%7C<%= place.latitude %>,<%= place.longitude %>">
        </div>
        <div class="col-md-4">
           <h4><%= place.name %></h4>
           <p><%= place.address %></p>
           <p><em><%= place.amenities.map{|a|a.name}.join ', ' %></em></p>
        </div>
        <div class="col-md-2">
          <span><%= link_to 'Details', place, class: 'btn btn-md btn-info' %></span>
          <span><%= link_to 'Edit', edit_place_path(place), class: 'btn btn-md btn-warning' %></span>
          <span><%= link_to 'Get Directions', map_url_for(place), class: 'btn btn-md' %></span>
        </div>
      </div>
      <br/>
    <% end %>
  </div>
</div>
